/* .boardContainer{
    height: 150;
    width: 150;
    border:10px solid red;
} */

.board{
    height: 500px;
    width: 500px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.squreBtnsContainer{
    
    
    display: flex;
    flex-direction: column;
}


.squreBtns{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.restartBtnContainer{
    margin-top: 30px;
    
}
.restartBtn{
    padding:7px;
    border-radius: 5px;
}