.headingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  font-weight: bold;
  font-size: xx-large;
}

.gameContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 300px;
    width: 300px;
}